body{
	display: flex;
	position: relative;
	flex-wrap: wrap; 
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 0;
	background-color: #232526;
}/*flex를 쓰게 되면 화면을 축소해도 가운데로 정렬이 가능하다!*/
.Mvid{
	position: absolute;
	display: flex;
	padding: 0;
	width: 100%;
	opacity: 0.4;
}
#logo{
	width: 420px;
	height: 143px;
	border: 0;
	position: relative;
	top: 250px;
}
#logo path:nth-child(2){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(3){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(4){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(5){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(6){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(7){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(8){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(9){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(10){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(11){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(12){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(13){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(14){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(15){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(16){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(17){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(18){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(19){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
@keyframes line-anim{
	to{
		stroke-dashoffset: 0px;
	} /*로고 키프레임!*/
}

.profile{
	color: #fff;
	right: 370px;
	top: 800px;
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 150px;
}
h1{
	color: #fff;
	position: relative;
	right:  370px;
	top: 560px;
	text-align: center;
	font-size: 32px;
	border-bottom: 1px solid #fff;
	display: inline-block;
	/*margin 값을 - 로 주기*/
}
h1:before{ /* element start contents add*/
	content: ""; /*두번 째 줄이기에 content 없음*/
	left: 0;
	position: absolute;
	/*bottom: 2px; bottom 설정을 안하면 위에 뜸. */ 
	width: 100%;
	height:  1px; /* 줄 표시*/
	background: #fff;
}
h2{
	color: #fff;
	position: relative;
	right:  370px;
	text-align: center;
	top: 700px;
	font-size: 20px;
}
h3{
	color: #fff;
	left:  100px;
	position: relative;
	font-size: 15px;
	text-align: center;
	top: 370px;
}
p1{
	text-align: center;
	font-size: 50px;
}
.Skill{
	color: #fff;
	font-size: 40px;
	position: relative;
	top: 500px;
}
.container{
	top: 550px;
	position: relative;
	width: 900px;
	display: flex;
	justify-content: space-around;
	/*아이템에 균등한 여백 포함 밑 정렬*/
}
.container .card{
	position: relative;
	width: 200px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.container .card:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.container .card:before{
	content: '';
	position: absolute;
	left: -50%;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
.Sv{
	position: relative;
	width: 150px;
	height: 150px;
	z-index: 1000;
}
.percent{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: inset 0 0 50px #000;
	background: #222;
	z-index: 1000;
}
.percent .num{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.percent .num h4{
	color: #777;
	font-weight: 700;
	font-size: 30px;
	transition: 0.5s;
}
.card:hover .percent .num h4{
	color: #fff;
	font-size: 40px;
}
.text{
	position: relative;
	color: #777;
	font-weight: 700;
	font-size: 16px;
	z-index: 1;
}
.card:hover .text{
	color: #fff;
	font-size: 18px;
}
svg circle{
	left: 100px;
	position: relative;
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #191919;
	stroke-width: 10;
	transform: translate(5px,5px);
	/*원이 잘리는 현상이 나타남.*/
}
svg circle:nth-child(2){
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 90) / 100);
	/*calc = calculate 줄임 말 "-" 요소는 띄어쓰기를 해야만
	마이너스 요소로 바뀜*/
	stroke: purple;
}
.card:nth-child(2) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 70) / 100);
	stroke: green;
}
.card:nth-child(3) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 50) / 100);
	stroke: #6B66FF;
}
.card:nth-child(4) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 50) / 100);
	stroke: pink;
}
.PortS{
	color: #fff;
	font-size: 40px;
	position: relative;
	top: 700px;
}
.ff{
	top: 750px;
	position: relative;
	width: 900px;
	display: flex;
	justify-content: space-around;
	/*아이템에 균등한 여백 포함 밑 정렬*/
}
.First_btn{
	position: relative;
	width: 200px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	height: 300px;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.First_btn:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.First_btn:before{
	text-align-last: center;
	align-items: center;
	content: '';
	position: absolute;
	right: -50%;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
caption{
	color: black;
	font-family: '돋움';
	font-size: 30px;
}
.Ceo{
	top: 30px;
	width: 400px;
	height: 300px;
	background-position: center;
	background: url('ceoport.png');
	position: relative; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Ceo_contain{
	text-align: right;
	top: 30px;
	position: relative;
	font-size: 20px;
	color: black;
	font-family: '돋움';	
}
.dd{
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 20px;
	text-align: center;
	align-items: center;
	text-decoration: none;	
}
.First_btn:hover .dd{
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}
.close{
	z-index: -1;
	background: white;
	position: absolute;
	color: #fff;
	text-align: right;
	align-items: center;
	bottom: 50px;
	width: 800px;
	height: 400px;
	box-shadow: 0 0 10px;
	padding: 20px;
	opacity: 0;
	transition: all 0.5s;
}
.close:target{
	z-index: 2;
	opacity: 1;
}
.close a{
	color: grey;
	text-decoration: none;
}
.Second_btn{
	position: relative;
	width: 200px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	text-decoration: none;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.Second_btn:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.Second_btn:before{
	text-align-last: center;
	align-items: center;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
.smoke{
	top: 30px;
	position: relative;
	width: 400px;
	height: 300px;
}
.smoke_contain{
	text-align: right;
	top: 30px;
	position: relative;
	font-size: 20px;
	color: black;
	font-family: '돋움';	
}
.ss{
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 20px;
	text-align: center;
	align-items: center;
	text-decoration: none;	
}
.Second_btn:hover .ss{
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}
.close2{
	z-index: -1;
	background: white;
	position: absolute;
	color: #fff;
	text-align: right;
	align-items: center;
	bottom: 50px;
	width: 800px;
	height: 400px;
	box-shadow: 0 0 10px;
	padding: 20px;
	opacity: 0;
	transition: all 0.5s;
}
.close2:target{
	z-index: 2;
	opacity: 1;
}
.close2 a{
	color: grey;
	text-decoration: none;
}

.Third_btn{
	position: relative;
	width: 200px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	text-decoration: none;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.Third_btn:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.Third_btn:before{
	text-align-last: center;
	align-items: center;
	content: '';
	position: absolute;
	right: -50%;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
.aa{
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 20px;
	text-align: center;
	align-items: center;
	text-decoration: none;	
}
.Third_btn:hover .aa{
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}
.close3{
	z-index: -1;
	background: white;
	position: absolute;
	color: #fff;
	text-align: right;
	align-items: center;
	bottom: 50px;
	width: 800px;
	height: 400px;
	box-shadow: 0 0 10px;
	padding: 20px;
	opacity: 0;
	transition: all 0.5s;
}
.close3:target{
	z-index: 2;
	opacity: 1;
}
.close3 a{
	color: grey;
	text-decoration: none;
}
.Create{
	top: 20px;
	width: 400px;
	height: 300px;
	background-position: center;
	background: url('create.png');
	position: relative; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Create_contain{
	text-align: right;
	top: 30px;
	position: relative;
	font-size: 20px;
	color: black;
	font-family: '돋움';	
}
.Four_btn{
	position: relative;
	width: 200px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	text-decoration: none;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.Four_btn:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.Four_btn:before{
	text-align-last: center;
	align-items: center;
	content: '';
	position: absolute;
	right: -50%;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
.qq{
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 20px;
	text-align: center;
	align-items: center;
	text-decoration: none;	
}
.Four_btn:hover .qq{
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}
.close4{
	z-index: -1;
	background: white;
	position: absolute;
	color: #fff;
	text-align: right;
	align-items: center;
	bottom: 50px;
	width: 800px;
	height: 400px;
	box-shadow: 0 0 10px;
	padding: 20px;
	opacity: 0;
	transition: all 0.5s;
}
.close4:target{
	z-index: 2;
	opacity: 1;
}
.close4 a{
	color: grey;
	text-decoration: none;
}
.contact{
	margin: 0 auto;
	padding: 0;
	color: #fff;
	font-size: 40px;
	position: relative;
	top: 950px;
}
.left_line{
	margin: 0 auto;
	padding: 0;
	top: 980px;
	right: 380px; 
	border-color: pink;
	width: 500px;
	position: relative;
}
.right_line{
	margin: 0 auto;
	padding: 0;
	left: 380px;
	top: 980px;
	border-color: pink;
	width: 500px;
	position: relative;
}
.contact_body{
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.Fb{
	margin: 0 auto;
	padding: 0;
	width: 100px;
	height: 100px;
	position: relative;
	top: 1050px;
}
.INSTAR{
	margin: 0 auto;
	padding: 0;
	width: 100px;
	height: 100px;
	position: relative;
	top: 1050px;
	left: 300px;
}
.mailicon{
	margin: 0 auto;
	padding: 0;
	width: 100px;
	height: 100px;
	position: relative;
	right: 300px;
	top: 1050px;
}
.click{
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
	top: 880px;
	font-size: 20px;
	position: relative;
	color: #fff;
	text-align: center;
}
/*       해상도 1680 해상도 이상일 때                                                                */
@media (min-width: 1680px){
body{
	display: flex;
	position: relative;
	flex-wrap: wrap; 
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 0;
	background-color: #232526;
}/*flex를 쓰게 되면 화면을 축소해도 가운데로 정렬이 가능하다!*/
.Mvid{
	position: absolute;
	display: flex;
	padding: 0;
	width: 100%;
	opacity: 0.4;
}
#logo{
	width: 600px;
	height: 350px;
	border: 0;
	position: relative;
	top: 250px;
}
#logo path:nth-child(2){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(3){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(4){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(5){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(6){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(7){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(8){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(9){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(10){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(11){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(12){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(13){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(14){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(15){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(16){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(17){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(18){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
#logo path:nth-child(19){
	stroke-dasharray: 1000px;
	stroke-dashoffset: 1000px;
		animation:  line-anim 20s ease forwards;
}
@keyframes line-anim{
	to{
		stroke-dashoffset: 0px;
	} /*로고 키프레임!*/
}

.profile{
	color: #fff;
	right: 400px;
	top: 900px;
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 150px;
}
h1{
	color: #fff;
	position: relative;
	right:  400px;
	top: 520px;
	text-align: center;
	font-size: 50px;
	border-bottom: 1px solid #fff;
	display: inline-block;
	/*margin 값을 - 로 주기*/
}
h1:before{ /* element start contents add*/
	content: ""; /*두번 째 줄이기에 content 없음*/
	left: 0;
	position: absolute;
	/*bottom: 2px; bottom 설정을 안하면 위에 뜸. */ 
	width: 100%;
	height:  1px; /* 줄 표시*/
	background: #fff;
}
h2{
	color: #fff;
	position: relative;
	right:  400px;
	text-align: center;
	top: 750px;
	font-size: 30px;
}
h3{
	color: #fff;
	left:  200px;
	position: relative;
	font-size: 20px;
	text-align: center;
	top: 370px;
}

.Skill{
	color: #fff;
	font-size: 50px;
	position: relative;
	top: 600px;
}
.container{
	top: 700px;
	position: relative;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	/*아이템에 균등한 여백 포함 밑 정렬*/
}
.container .card{
	position: relative;
	width: 300px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.container .card:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.container .card:before{
	content: '';
	position: absolute;
	left: -50%;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
.Sv{
	position: relative;
	width: 150px;
	height: 150px;
	z-index: 1000;
}
.percent{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: inset 0 0 50px #000;
	background: #222;
	z-index: 1000;
}
.percent .num{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.percent .num h4{
	color: #777;
	font-weight: 700;
	font-size: 30px;
	transition: 0.5s;
}
.card:hover .percent .num h4{
	color: #fff;
	font-size: 40px;
}
.text{
	position: relative;
	color: #777;
	font-weight: 700;
	font-size: 25px;
	z-index: 1;
}
.card:hover .text{
	font-size: 30px;
	color: #fff;
}
svg circle{
	left: 100px;
	position: relative;
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #191919;
	stroke-width: 10;
	transform: translate(5px,5px);
	/*원이 잘리는 현상이 나타남.*/
}
svg circle:nth-child(2){
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 90) / 100);
	/*calc = calculate 줄임 말 "-" 요소는 띄어쓰기를 해야만
	마이너스 요소로 바뀜*/
	stroke: purple;
}
.card:nth-child(2) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 70) / 100);
	stroke: green;
}
.card:nth-child(3) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 50) / 100);
	stroke: #6B66FF;
}
.card:nth-child(4) svg circle:nth-child(2){
	stroke-dashoffset: calc(440 - (440 * 50) / 100);
	stroke: pink;
}
.PortS{
	color: #fff;
	font-size: 50px;
	position: relative;
	top: 950px;
}
.ff{
	top: 1050px;
	position: relative;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	/*아이템에 균등한 여백 포함 밑 정렬*/
}
.First_btn{
	position: relative;
	width: 250px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	text-decoration: none;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.First_btn:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.First_btn:before{
	text-align-last: center;
	align-items: center;
	content: '';
	position: absolute;
	right: -50%;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
caption{
	color: black;
	font-family: '돋움';
	font-size: 60px;
}
.Ceo{
	top: 30px;
	width: 500px;
	height: 400px;
	background-position: center;
	background: url('ceoport.png');
	position: relative; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Ceo_contain{
	text-align: right;
	top: 30px;
	position: relative;
	font-size: 30px;
	color: black;
	font-family: '돋움';	
}
.dd{
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 30px;
	text-align: center;
	align-items: center;
	text-decoration: none;	
}
.First_btn:hover .dd{
	font-weight: bold;
	font-size: 40px;
	color: #fff;
	text-decoration: none;
}
.close{
	z-index: -1;
	background: white;
	position: absolute;
	color: #fff;
	text-align: right;
	align-items: center;
	bottom: 50px;
	width: 1200px;
	height: 600px;
	box-shadow: 0 0 10px;
	padding: 20px;
	opacity: 0;
	transition: all 0.5s;
}
.close:target{
	z-index: 2;
	opacity: 1;
}
.close a{
	color: grey;
	text-decoration: none;
}
.Second_btn{
	position: relative;
	width: 300px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	text-decoration: none;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.Second_btn:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.Second_btn:before{
	text-align-last: center;
	align-items: center;
	content: '';
	position: absolute;
	right: -50%;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
.smoke{
	top: 30px;
	position: relative;
	width: 500px;
	height: 400px;
}
.smoke_contain{
	text-align: right;
	top: 30px;
	position: relative;
	font-size: 30px;
	color: black;
	font-family: '돋움';	
}
.ss{
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 30px;
	text-align: center;
	align-items: center;
	text-decoration: none;	
}
.Second_btn:hover .ss{
	font-weight: bold;
	font-size: 40px;
	color: #fff;
	text-decoration: none;
}
.close2{
	z-index: -1;
	background: white;
	position: absolute;
	color: #fff;
	text-align: right;
	align-items: center;
	bottom: 50px;
	width: 1200px;
	height: 600px;
	box-shadow: 0 0 10px;
	padding: 20px;
	opacity: 0;
	transition: all 0.5s;
}
.close2:target{
	z-index: 2;
	opacity: 1;
}
.close2 a{
	color: grey;
	text-decoration: none;
}

.Third_btn{
	position: relative;
	width: 300px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	text-decoration: none;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.Third_btn:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.Third_btn:before{
	text-align-last: center;
	align-items: center;
	content: '';
	position: absolute;
	right: -50%;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
.aa{
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 30px;
	text-align: center;
	align-items: center;
	text-decoration: none;	
}
.Third_btn:hover .aa{
	font-weight: bold;
	font-size: 40px;
	color: #fff;
	text-decoration: none;
}
.close3{
	z-index: -1;
	background: white;
	position: absolute;
	color: #fff;
	text-align: right;
	align-items: center;
	bottom: 50px;
	width: 1200px;
	height: 600px;
	box-shadow: 0 0 10px;
	padding: 20px;
	opacity: 0;
	transition: all 0.5s;
}
.close3:target{
	z-index: 2;
	opacity: 1;
}
.close3 a{
	color: grey;
	text-decoration: none;
}
.Create{
	top: 20px;
	width: 500px;
	height: 400px;
	background-position: center;
	background: url('create.png');
	position: relative; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.Create_contain{
	text-align: right;
	top: 30px;
	position: relative;
	font-size: 30px;
	color: black;
	font-family: '돋움';	
}
.Four_btn{
	position: relative;
	width: 300px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	/*행의 끝을 가운데로 맞춘다.*/
	align-items: center;
	text-decoration: none;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.Four_btn:hover{
	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.Four_btn:before{
	text-align-last: center;
	align-items: center;
	content: '';
	position: absolute;
	right: -50%;
	width: 100%;
	height: 100%;
	background-color: #232323;
	pointer-events: none;
	z-index: 1;
	/*보이는 순서 숫자가 작을 수록 깔린다.*/
}
.qq{
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 30px;
	text-align: center;
	align-items: center;
	text-decoration: none;	
}
.Four_btn:hover .qq{
	font-weight: bold;
	font-size: 40px;
	color: #fff;
	text-decoration: none;
}
.close4{
	z-index: -1;
	background: white;
	position: absolute;
	color: #fff;
	text-align: right;
	align-items: center;
	bottom: 50px;
	width: 1200px;
	height: 600px;
	box-shadow: 0 0 10px;
	padding: 20px;
	opacity: 0;
	transition: all 0.5s;
}
.close4:target{
	z-index: 2;
	opacity: 1;
}
.close4 a{
	color: grey;
	text-decoration: none;
}
.contact{
	margin: 0 auto;
	padding: 0;
	color: #fff;
	font-size: 60px;
	position: relative;
	top: 1300px;
}
.left_line{
	border-width: 2px;
	margin: 0 auto;
	padding: 0;
	top: 1350px;
	right: 500px; 
	border-color: pink;
	width: 650px;
	position: relative;
}
.right_line{
	margin: 0 auto;
	padding: 0;
	left: 500px;
	top: 1350px;
	border-color: pink;
	width: 650px;
	position: relative;
}
.contact_body{
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.Fb{
	margin: 0 auto;
	padding: 0;
	width: 200px;
	height: 200px;
	position: relative;
	top: 1400px;
}
.INSTAR{
	margin: 0 auto;
	padding: 0;
	width: 200px;
	height: 200px;
	position: relative;
	top: 1400px;
	left: 500px;
}
.mailicon{
	margin: 0 auto;
	padding: 0;
	width: 200px;
	height: 200px;
	position: relative;
	right: 500px;
	top: 1400px;
}
.click{
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
	top: 1120px;
	font-size: 20px;
	position: relative;
	color: #fff;
	text-align: center;
}